.input-cnpj{
  position: relative;
}
.input-cnpj{
  font-size: 2.5rem;
}
input{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 335px;
  max-width: 335px;
  height: 6.5rem;
  border-radius: 1.2rem;
  color: #650da0;
  border: 1px solid white;
  outline: 0;
  padding-left: 53px;
  /* padding: 0 6.6rem; */
  font: 1.6rem Poppins;
  }
