#page-content{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flexbox;

  justify-content: center;
  align-items: center;
  justify-self: center;
}

.page-results-maping main {
  display: grid;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-right: 5%;
  margin-left: 5%;
}

