.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #470772;
  /* align-items: center;
  justify-content: center; */
  position: relative;
  }

#text-header h1{
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: -650px;
  font: 4.5rem Poppins;
  color:  #ffffff;
  text-shadow: 1px 1px rgb(44, 44, 44);
  }

img{
  height: 32rem;
  /* max-width: 1400px; */
  /* opacity: 60%; */
}

/* @media (min-width: 700px) {
  .pageheader {
    height: 340px;
  }
} */

